.parent-div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add any additional styles for the parent div */
}

@keyframes ldio-apoyzbf4opq {
  0% {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 50%;
    left: 50%;
    width: 605.93px;
    height: 605.93px;
    opacity: 0;
  }
}

.ldio-apoyzbf4opq div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-width: 7.67px;
  border-style: solid;
  opacity: 1;
  border-radius: 50%;
  animation: ldio-apoyzbf4opq 2.7s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ldio-apoyzbf4opq div:nth-child(1) {
  border-color: #1d3f72;
  animation-delay: 0s;
}

.ldio-apoyzbf4opq div:nth-child(2) {
  border-color: #5699d2;
  animation-delay: -1.35s;
}

.loadingio-spinner-ripple-jierxddzni {
  width: 767px;
  height: 767px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN, 0);
}

.ldio-apoyzbf4opq {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
